.Slogan1{
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(32, 160, 206, 0.666);
    float: left;
    margin-left: 1000px;
    margin-top:-700px;
}
.layout{
    height: 1000px;
    font-weight: 100%;
    background-color: #DCD9D4; 
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%); 
    background-blend-mode: soft-light,screen;
}
.img2{
    height: 800px;
    font-weight: 600px;
}
.homgPage{
    float: left;
    margin-left: 1400px;
    margin-top: -800px;
}
.information{
    font-size: 20px;
    color: rgb(63, 2, 38);
    float: left;
    margin-top: -500px;
    margin-left: 1000px;
}
.user{
    width: 300px;
    height: 50px;
    border-radius: 20%;
}
.password{
    width: 300px;
    height: 50px;
    border-radius: 20%;
    margin-top: 50px;
}
.fButton{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 180px;
}
.Jump{
    margin-left: 1300px;
    margin-top: -260px;
}