.font{
    font-size: 30px;
}
.font2{
    font-size: 30px;
}
.font3{
    font-size: 30px;
}
.font4{
    font-size: 30px;
}
.font5{
    font-size: 30px;
}
.font6{
    font-size: 30px;
}
.font7{
    font-size: 30px;
}