.f{
    display: flex;
    height: 170px;
    border-bottom: 1px solid #000;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);

}
.shou{
    width: 90%;
    text-align: center;
}
.q{
    display: flex;
    border-bottom: 1px solid #000;
}
.p{
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #000;
    height: 300px;

}
.s{
    font-size: 50px;
   width: 100%;
    border-bottom: 1px solid #000;
  }
  .z{
      float: right
  }
  .jia{
      width: 80%;
      height: 200px;
  }
  