/* .Icon1{
    font-size: 20px;
    margin-left: 50px;
    margin-top: -100px;
    color: rgb(0, 0, 145);
}
.user{
    color: rgb(31, 2, 31);
    font-size: 15px;
    justify-content: center;
    margin-top: -100px;
}
.select{
    margin-top: -100px;
    margin-left: 150px;
}
.store{
    margin-top: -300px;
}
.store1{
    margin-top: -120px;
} */
#components-layout-demo-fixed-sider .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  .text{
      text-align: center
  }