/* .register{
    height: 910px;
    width: 100%;
    background-image: linear-gradient(158.3deg, #f965d7 -15.61%, #c2b557 84.39%, #9c7af6 184.39%,#d2936b 284.39%);
   
    
}
.link{
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
}
.register1{
    text-align: center;
    flex-direction: column;
}
.begin{
    height:30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    text-shadow:#FF0000 0 0 10px;
     color: white;
}
.line1 p{
    font-size: 25px;
}
.line2 p{
    font-size: 25px;
}
.line3 p{
    font-size: 25px;
}

.line4 p{
    font-size: 25px;
} */
/* .line1 input{
    background-color: transparent;
}
.line2 input{
    background-color: transparent;
}
.line3 input{
    background-color: transparent;
}
.line4 input{
    background-color: transparent;
} */
